<div class="header-wrapper">
  <div class="top-bar">
    <!--<div class="beatgrid-logo">BEATGRID</div>-->
    <div class="beatgrid-logo"></div>
    <div class="top-bar-center"></div>
    <div class="login-section">
      <a *ngIf="!authService.isLoggedIn()"
         class="login-out"
         click)="onLoginClicked()">Log In</a>
      <span *ngIf="authService.isLoggedIn()">
      Logged in as <span class="username">{{ authService.username }}</span>
      &nbsp;|&nbsp;
      <a class="login-out"
         (click)="authService.logOut()">Log Out</a>
    </span>
    </div>
  </div>

  <hr>

  <div class="beat-controls">
    <div class="time-signature" (click)="openTsDialog()">
      <strong>Time signature:</strong> {{ beatService.timeSignature.notesPerMeasure }}/{{ beatService.timeSignature.noteType }}
    </div>
    <div>
      <b>Division level: </b>
      <app-note-type-dropdown [selection]="beatService.divisionLevel"
                              (selectionChange)="onChangeDivisionLevel($event)"></app-note-type-dropdown>
    </div>
    <div class="tempo">
      <strong>Tempo: </strong>
      <mat-slider ticketInterval="1"
                  min="1" max="300"
                  thumbLabel
                  class="noselect"
                  [value]="beatService.tempo"
                  (mousedown)="$event.stopPropagation()"
                  (change)="onTempoChanged($event.value)"></mat-slider>
    </div>
  </div>
</div>
