.grid-outer-wrapper {
  text-align: center;
}

.grid-wrapper {
  display: inline-block;
  position: relative;
}

.grid-row-wrapper {
  align-items: center;
  border-radius: 3px;
  display: flex;

  .grid-row-options {
    mat-icon {
      display: inline-block;
      color: #AEB6BF; // TODO: Variable
      cursor: pointer;
      padding-left: 5px;
      user-select: none;
      visibility: hidden;

      &:last-child {
        padding-right: 5px;
      }

      &:hover {
        color: black;
      }
    }
  }

  &:hover {
    .grid-row-options mat-icon {
      visibility: visible;
    }

    background: #EBEDEF; // TODO: Move to variable
  }
}

.grid-sound-icon {
  cursor: pointer;
  padding: 0 10px;
}

.grid-square-wrapper {
  border-radius: 3px;
  cursor: pointer;
  background: darkgray;
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 1px;
  vertical-align: bottom;

  &:hover {
    box-shadow: 0 0 3px black;
  }
}

.active-column {
  opacity: 0.5;
}

.column-footer {
  background: inherit;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}

.active-column-footer {
  color: red;
  font-weight: bold;
}

.beat-square {
  background: black;
}

.active-square {
  background: red;
}

.highlighted-square {
  border: 1px solid greenyellow;
  border-radius: 0;
  margin: 0;
  box-shadow: 0 0 5px green;
  opacity: .5;
}

.cursor-fill-square {
  cursor: cell;
}

.cursor-erase-square {
  cursor: crosshair;
}

.footer-wrapper {
  text-align: left;
}

.add-row-icon {
  align-items: center;
  display: inline-flex;
  padding: 0 10px;

  mat-icon {
    color: #AEB6BF;
    cursor: pointer;
    font-size: 16px;
    height: 16px;
    vertical-align: center;

    &:hover {
      color: black;
    }
  }
}

.highlighted-area-menu-container {
  align-items: center;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  text-align: left;

  ul {
    background: #EBEDEF;; // TODO: Move to variable
    border-radius: 10px;
    list-style: none;
    margin-left: 8px;
    padding: 0;

    li {
      align-items: center;
      border: 1px solid #AEB6BF; // TODO: Variable
      border-top: 0px;
      color: gray; //#AEB6BF; // TODO: Variable
      cursor: pointer;
      display: flex;
      padding: 5px 15px 5px 10px;
      font-size: 15px;

      &:first-child {
        border-top: 1px solid #AEB6BF;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &:hover {
        color: black;
      }

      .mat-icon {
        padding-right: 5px;
      }
    }
  }
}

