<p><strong>Time signature:</strong> {{ beatService.beat.timeSignature.notesPerMeasure }}/{{ beatService.beat.timeSignature.noteType }}</p>
<p><b>Division level:</b> {{ beatService.beat.divisionLevel }}th</p>
<p>Tempo: <input type="number" [(ngModel)]="beatService.beat.tempo" (ngModelChange)="onTempoChanged()"></p>

<div>
  <button (click)="togglePlayback()">
    {{ isPlaying ? 'Pause' : 'Play' }}
  </button>
</div>

<div class="grid-and-sounds-wrapper">
  <div>
    <div class="sounds">
      <div *ngFor="let sound of beatService.beat.sounds"
           (click)="onSoundClicked(sound)">
        {{ sound.name }}
      </div>
    </div>
    <div class="grid-wrapper">
      <div *ngFor="let row of playbackService.currentMeasure.squares"
           style.width="{{ gridWidth + 'px' }}">
        <div *ngFor="let square of row"
             class="square"
             (click)="onSquareClicked(square)"
             style.width="{{ noteWidth + 'px' }}"
             [class.beat-square]="isBeatColumn(square.column)"
             [class.active-square]="square.on"
             [class.active-column]="square.column === playbackService.activeColumn">
        </div>
        <div style="clear:both;"></div>
      </div>
      <div style="clear:both;"></div>
      <div *ngIf="playbackService.currentMeasure.squares.length > 0">
        <div *ngFor="let square of playbackService.currentMeasure.squares[0]; let i = index"
             class="square column-footer"
             [class.active-column-footer]="playbackService.activeColumn === i"
             style.width="{{ noteWidth + 'px' }}"
             [innerHtml]="getColumnFooter(i)"
             (click)="onFooterClicked(i)">
        </div>
      </div>
    </div>
    <div class="change-measure-arrows">
      <button (click)="onChangeMeasure(true)"> < </button>
      <button (click)="onChangeMeasure()"> > </button>
      <p>Measure: {{ playbackService.currentMeasureIndex }}</p>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
