<div id="grid-outer-wrapper" class="grid-outer-wrapper" style="position: relative;" (click)="onCancelHighlightedArea()">
  <!--<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">-->
    <!--<div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}</div>-->
  <!--</div>-->

  <div #gridWrapperDiv class="grid-wrapper"
       cdkDropList (cdkDropListDropped)="onRowMoved($event)"
       (click)="$event.stopPropagation()">
    <div *ngFor="let row of gridService.currentMeasure.squares; let i = index"
         class="grid-row-wrapper"
         cdkDrag
         [class.background-inherit]="shouldHideRowOptionsMenu()">
      <div #soundOptionsDiv class="sound-options">
        <div class="change-sound"
             matTooltip="Change Sound"
             matTooltipPosition="above"
             (click)="onChangeSoundClicked(i)">
          <mat-icon>edit</mat-icon>
        </div>
        <div class="grid-sound-icon"
             [matTooltip]="beatService.sounds[i].name"
             matTooltipPosition="above"
             (click)="onSoundClicked(i)">
          <mat-icon>music_note</mat-icon>
        </div>
      </div>
      <div *ngFor="let square of row"
           (click)="onSquareClick(square, $event)"
           [id]="getSquareHtmlId(square.row, square.column)"
           class="grid-square-wrapper"
           style.width="{{ noteWidth + 'px'}}"
           style.height="{{ noteHeight + 'px'}}"
           style.box-shadow="{{ shouldHideRowOptionsMenu() ? 'none' : '' }}"
           [class.beat-square]="isBeatColumn(square.column)"
           [class.active-square]="square.on"
           [class.active-column]="isActiveColumn(square.column)"
           [class.highlighted-square]="gridService.isHighlighted(square)"></div>
      <div #rowOptionsDiv class="grid-row-options">
        <!--<mat-icon [style.visibility]="rowOptionsVisibility">settings</mat-icon>-->
        <mat-icon matTooltip="Reorder" matTooltipPosition="above"
                  [style.visibility]="rowOptionsVisibility"
                  [style.cursor]="'move'">reorder</mat-icon>
        <mat-icon matTooltip="Add Row" matTooltipPosition="above"
                  [style.visibility]="rowOptionsVisibility"
                  (click)="onAddRowClicked(i)">add</mat-icon>
        <mat-icon matTooltip="Delete Row" matTooltipPosition="above"
                  [style.visibility]="rowOptionsVisibility"
                  style.cursor="{{beatService.rows === 1 ? 'not-allowed' : ''}}"
                  (click)="onDeleteRowClicked(i)">delete</mat-icon>
      </div>
    </div>
    <div #footerWrapperDiv
         *ngIf="gridService.currentMeasure.squares.length > 0"
         class="footer-wrapper">
      <div *ngFor="let square of gridService.currentMeasure.squares[0]; let i = index"
           class="grid-square-wrapper column-footer noselect"
           style.width="{{ noteWidth + 'px' }}"
           [class.active-column-footer]="isActiveColumn(i)"
           [innerHtml]="getColumnFooter(i)"
           (click)="onFooterClicked(i)">
      </div>
    </div>

    <div #hlAreaMenuContainerDiv
         class="highlighted-area-menu-container"
         style.visibility="{{ gridService.anySquaresHighlighted() ? 'visible' : 'hidden'}}">
      <ul class="noselect">
        <li (click)="onFillHighlightedArea()">
          <mat-icon>format_color_fill</mat-icon> Fill
        </li>
        <li (click)="onDeleteHighlightedArea()">
          <mat-icon>delete</mat-icon> Delete
        </li>
        <li (click)="onCopyHighlightedArea()">
          <mat-icon>content_copy</mat-icon> Copy
        </li>
        <li (click)="onCutHighlightedArea()">
          <mat-icon>content_cut</mat-icon> Cut
        </li>
        <li (click)="onCancelHighlightedArea()">
          <mat-icon>cancel</mat-icon> Cancel
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Need to place at bottom for z-index issues -->
<app-selection-rectangle [containerId]="'grid-outer-wrapper'"
                         (stateChanged)="onSelectionRectangleChanged($event)"></app-selection-rectangle>
