//@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

.grid-and-sounds-wrapper {
  text-align: center;

  > div {
    display: inline-block;
  }
}

.sounds {
  float: left;
  font-size: 12px;

  div {
    height: 34px;
    line-height: 34px;
    margin-right: 5px;
    text-align: right;
  }
}

.grid-wrapper {
  float: left;
  text-align: left;
}

.square {
  float: left;
  font-size: 8px;
  height: 32px;
  width: 32px;
  border-radius: 3px;
  margin: 1px;
  background: darkgray;
}

.column-footer {
  background: inherit;
  cursor: pointer;
  font-size: 14px;
  height: 16px;
  text-align: center;
}

.active-column {
  opacity: 0.5;
}

.active-column-footer {
  color: red;
  font-weight: bold;
}

.beat-square {
  background: black;
}

.active-square {
  background: red;
}
