<div (click)="openDialog()">
  <strong>Time signature:</strong> {{ beatService.timeSignature.notesPerMeasure }}/{{ beatService.timeSignature.noteType }}
</div>

<div>
  <b>Division level: </b>
  <app-note-type-dropdown [selection]="beatService.divisionLevel"
                          (selectionChange)="onChangeDivisionLevel($event)"></app-note-type-dropdown>
</div>

<div>
  <strong>Tempo: </strong>
  <input type="number" [value]="beatService.tempo" (input)="onTempoChanged($event.target.value)">
</div>

<div>
  <button (click)="togglePlayback()">
    {{ playbackService.isPlaying ? 'Pause' : 'Play' }}
  </button>
</div>

<div class="grid-and-sounds-wrapper">
  <div>
    <div class="sounds">
      <div *ngFor="let sound of beatService.sounds"
           class="noselect"
           (click)="onSoundClicked(sound)">
        {{ sound.name }}
      </div>
    </div>
    <div class="grid-wrapper" ondragstart="return false;" ondrop="return false;">
      <div *ngFor="let row of playbackService.currentMeasure.squares"
           style.width="{{ gridWidth + 'px' }}">
        <div *ngFor="let square of row"
             class="square"
             (mousedown)="onSquareMouseDown(square, $event)"
             (mouseenter)="onSquareMouseEnter(square)"
             (mouseleave)="onSquareMouseLeave(square)"
             style.width="{{ noteWidth + 'px' }}"
             [class.beat-square]="isBeatColumn(square.column)"
             [class.active-square]="square.on"
             [class.active-column]="square.column === playbackService.activeColumn"
             [class.cursor-fill-square]="mouseContext === mouseContextEnum.FillSquare"
             [class.cursor-erase-square]="mouseContext === mouseContextEnum.EraseSquare">
        </div>
        <div style="clear:both;"></div>
      </div>
      <div style="clear:both;"></div>
      <div *ngIf="playbackService.currentMeasure.squares.length > 0">
        <div *ngFor="let square of playbackService.currentMeasure.squares[0]; let i = index"
             class="square column-footer noselect"
             style.width="{{ noteWidth + 'px' }}"
             [class.active-column-footer]="playbackService.activeColumn === i"
             [innerHtml]="getColumnFooter(i)"
             (click)="onFooterClicked(i)">
        </div>
      </div>
    </div>
    <div class="change-measure-arrows">
      <button (click)="onPreviousMeasure(true)"> < </button>
      <button *ngFor="let measure of beatService.measures; let index = index"
              (click)="onChangeMeasure(index)">
        {{ index }}
      </button>
      <button (click)="onNextMeasure()"> > </button>
      <p>Measure: {{ playbackService.currentMeasureIndex }}</p>
      <button (click)="onAddMeasure()">Add Measure</button>
    </div>
    <div style="clear:both"></div>
  </div>
</div>
