//@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

.grid-and-sounds-wrapper {
  text-align: center;

  > div {
    display: inline-block;
  }
}

.sounds {
  float: left;
  font-size: 12px;

  div {
    height: 34px;
    line-height: 34px;
    margin-right: 5px;
    text-align: right;
  }
}

.grid-wrapper {
  float: left;
  text-align: left;
}

.square {
  cursor: pointer;
  float: left;
  font-size: 8px;
  height: 32px;
  width: 32px;
  border-radius: 3px;
  margin: 1px;
  background: darkgray;
}

.square:hover {
  box-shadow: 0 0 5px black;
}


.column-footer {
  background: inherit;
  font-size: 14px;
  height: 16px;
  text-align: center;
}

.active-column {
  opacity: 0.5;
}

.active-column-footer {
  color: red;
  font-weight: bold;
}

.measure-buttons {
  margin: 10px;
}

.active-measure-button {
  color: red;
}

.add-measure {
  margin: 10px;
}

.beat-square {
  background: black;
}

.active-square {
  background: red;
}

.cursor-fill-square {
  cursor: cell;
}

.cursor-erase-square {
  cursor: crosshair;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

ul.beat-list li a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
