<div class="top-buttons">
  <button (click)="saveBeat()"
          [disabled]="!authService.isLoggedIn()">
    Save
  </button>
  <button (click)="newBeat()">New</button>
  <button (click)="openSoundLibrary()">Sound Library</button>
</div>

<h3>Beat: {{ beatService.beat.name }}</h3>
<ul>
  <li *ngFor="let beat of beatService.beats">
    <a (click)="onBeatClicked(beat.id)">{{ beat.name }}</a>
    &nbsp;
    <button *ngIf="authService.isLoggedIn()" (click)="onDeleteBeatClicked(beat.id)">Delete</button>
  </li>
</ul>
