<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Record Beat</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Beat name" [(ngModel)]="recordOptions.name" name="name" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td><mat-form-field class="example-full-width">
            <input matInput placeholder="Number of times to play" [(ngModel)]="recordOptions.playCount" type="number" name="playCount" required>
          </mat-form-field></td>
        </tr>
      </table>
    </form>
    <div class="error">{{ errorMessage }}</div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="onSave()" color="primary">Start Recording</button>
  </mat-card-actions>
</mat-card>
