<h2 mat-dialog-title>Change Time Signature</h2>
<mat-dialog-content>
  <p>Notes per measure: <input type="number" [(ngModel)]="timeSignature.notesPerMeasure" /></p>
  <p>
    Note type:
    <app-note-type-dropdown [selection]="timeSignature.noteType"
                            (selectionChange)="onChangeNoteType($event)"></app-note-type-dropdown>
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="onCancel()">Cancel</button>
  <button class="mat-raised-button mat-primary"(click)="onSave()">Save</button>
</mat-dialog-actions>
